
.formulario{
  background-image: url(../../assets/mapa_mundial.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color:#450964
}
.container {
  background-color: rgb(223, 226, 246, 0.9);
  border-radius: 20px;
  margin-top: 70px;
  padding: 20px 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%; 
}
.form{
  width: 80%;
  margin-top: 10px;
}
.form div,
.form label {
  width: 100%;
}


.form input,
.form select,
.form button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: hidden;
  background-color: #fffbf4;
  
}

.form button {
  background-color: #450964;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .form {
    padding: 20px;
  }
}
