.home {
  margin-top: 90px;
  background-image: url(../../assets/mapa_mundial.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.filters {
  display: flex;
  width: 70%    ;
  justify-content: space-between;
  padding: 50px 100px 0px 100px;
}

@media (max-width: 600px) {
  .home {
    margin-top: 175px;
  }
  .filters {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
